.pro-menu > ul > .pro-menu-item > .pro-inner-item.active {
  background-color: #26c6da;
  color: white;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.pro-icon-wrapper {
  width: 21px !important;
  height: 21px !important;
  min-width: auto !important;
  background-color: transparent !important;
  margin-right: 15px !important;
}

.pro-icon svg {
  width: 21px !important;
  height: 21px !important;
}

.pro-inner-list-item {
  background-color: transparent !important;
}

.pro-inner-list-item > div > ul {
  padding: 0 !important;
}

.ant-dropdown {
  z-index: 9999 !important;
}

.ant-table-thead > tr {
  border-bottom: 2px solid #26c6da !important;
}

.ant-modal-body {
  max-height: 80vh;
  overflow: auto;
}
